<html>
        <head>
            <title>Tsimbal Olga's blog</title>
        </head>
        <body>
          <div>
            <h1><a href href="">Tsimbal Olga's Blog</a><h1>
          </div>

          <div>
            <p>published: 29.05.2016, 14:50</p>
            <h2><a href="">My first post></a></h2>
            <p>О событиях происходивших на Django.Girls</p>
          </div>

          <div>
            <p>published: 29.05.2016, 15:50</p>
            <h2><a href="">My second post></a></h2>
            <p>Мое первое web-приложение</p>
          </div>

          <div>
            <p>published: 29.05.2016, 16:50</p>
            <h2><a href="">My third post></a></h2>
            <p>УРА! Отлично провели время.</p>
          </div>

        </body>
    </html>
